<strong> Ol치, {{ provider }}</strong>
<p>Houve um cancelmaneto de hor치rio, confira os detahles abaixo:</p>
<p>

  <strong>Cliente:</strong> {{ user }} <br>
  <strong>Data/hora </strong> {{ date }} <br>
  <small>
    O hor치rio est치 novamente disponivel para novos agendamento.
  </small>
</p>
